@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfigurationsModel

@{
    ViewData["Title"] = "Configurations";
}

<h2>
    @ViewData["Title"]
    <a asp-page="Create" title="Create New">
        <i class="bi bi-plus-square-fill px-2 fs-2"></i>
    </a>
</h2>
<hr/>
@if (Model.Configurations.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Game mode</th>
            <th>Board size</th>
            <th>Grid size</th>
            <th class="text-end"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var config in Model.Configurations)
        {
            <tr>
                <td>
                    @config.Name
                </td>
                <td>
                    @config.Mode
                </td>
                <td>
                    @config.BoardWidth x @config.BoardHeight
                </td>
                <td>
                    @config.GridWidth x @config.GridHeight
                </td>
                <td class="text-end">
                    <a asp-page="Details" asp-route-id="@config.Name">Details</a> |
                    <a asp-page="Delete" asp-route-id="@config.Name">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h4>There are no configurations. Go an create one to start playing!</h4>
    <hr/>
}

<div class="text-end">
    <a asp-page="/Index" class="btn btn-outline-secondary">Back to Home</a>
</div>
